{% comment %} <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}渋谷イベントアプリ{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>{% block header %}渋谷イベントアプリ{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">ホーム</a></li>
                <li><a href="{% url 'my_page' %}">マイページ</a></li>
                <li><a href="{% url 'search' %}?q=">イベント検索</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">ログアウト</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">ログイン</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 渋谷イベントアプリ</p>
    </footer>
</body>
</html> {% endcomment %}
